._2XRSuf {
     min-height: 600px;
     margin: 0 auto;
     width: 1200px;
     align-items: center;
     display: flex;
     justify-content: center;
 }
 ._15Lr4G {
     min-height: 24.0625rem;
 }
 .setpass{
     flex: 1 1;
     font-size: 1.5rem;
     color: #222;
 }
